<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">

  <display-name>Remindersystem Web App</display-name>

  <!-- Cấu hình LoginServlet -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <!-- Cấu hình RegisterServlet -->
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>controller.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/TaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditTaskServlet</servlet-name>
    <servlet-class>controller.EditTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTaskServlet</servlet-name>
    <url-pattern>/EditTaskServlet</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>controller.DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/DeleteTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTaskServlet</servlet-name>
    <servlet-class>controller.UpdateTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskServlet</servlet-name>
    <url-pattern>/UpdateTaskServlet</url-pattern>
  </servlet-mapping>
  <!-- Welcome page -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>